/* layout__________________________________________________________ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    background-image: url('/fitnhub/img/background.webp');
    background-size: 100vw;
    font-family: "Sitara-Bold", sans-serif;
    color: var(--color-text);
}
.main-content {
    flex: 1;
}
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: #292929;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #292929;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #3e3e3e;
}


/* index_______________________________________________________ */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 44px;
}

/* heroHome____________________________________________________ */
.hero-home-container {
    margin-top: 110px;
    width: 1194px;
    height: 700px;
    border-radius: 50px;
    background: #00000066;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    will-change: backdrop-filter;
    box-shadow: 
        0px 0px 10px 0px #00000033,
        0px 0px 10px 0px #FFFFFF40 inset,
        0px 4px 4px 0px #FFFFFF4D inset,
        0px 2px 6px 0px #0000004D;
    position: relative;
}
.hero-home-title {
    margin-top: 60px;
    font-style: italic;
    color: var(--color-text);
    font-size: 120px;
    font-weight: 700;
    line-height: 108px;
    max-width: 428px;
    text-align: left;
}
.hero-home-text {
    margin: 0;
    margin-top: 54px;
    max-width: 335px;
    color: var(--color-text);
}
.hero-home-img {
    position: absolute;
    width: 783px;
    height: 671px;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 50px;
}
.m-l-80 {
    margin-left: 80px;
}

/* planHome______________________________________________________ */
.plan-home-container {
    width: 1194px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 500;
}
.plan-home-title {
    margin: 0;
    margin-top: 80px;
    font-family: "Sitara-Bold", sans-serif;
    font-size: 120px;
    font-style: italic;
    font-weight: 700;
    line-height: 108px;
    text-align: left;
}
.plan-home-title:first-of-type {
    z-index: -2;
}
.plan-home-text {
    width: 941px;
    top: 110px;
    left: 400px;
    position: absolute;
    z-index: -1;
}

/* priceHome___________________________________________________ */
.price-home-container {
    margin-top: 130px;
    width: 1194px;
    position: relative;
}
.price-widget-container {
    width: 544px;
    position: absolute;
    right: 0;
    bottom: 32px;
}
.price-home-title {
    right: 0;
    margin: 0;
    font-family: "Sitara-Bold", sans-serif;
    font-size: 120px;
    font-style: italic;
    font-weight: 700;
    line-height: 108px;
    position: absolute;
    z-index: -2;
}
.price-home-img {
    display: block;
    width: 700px;
    height: 764px;
    z-index: -1;
}

/* storiesHome_____________________________________________________ */
.stories-home-container {
    margin-top: 130px;
    width: 1194px;
}
.stories-home-title {
    font-style: italic;
    color: var(--color-text);
    font-size: 120px;
    font-weight: 700;
    line-height: 108px;
    text-align: left;
}
.stories-vidget-container {
    display: flex;
    justify-content: space-between;
}

/* getStartedBtn_________________________________________________ */
.get-home-btn-link {
    padding: 10px 71px;
    display: block;
    text-decoration: none;
    color: var(--color-black);
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: var(--bg-button);
    border: none;
    width: 268px;
    height: 46px;
    font-size: 22px;
    line-height: 26.4px;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

/* heroHomeBtn________________________________________________ */
.hero-home-btn-link {
    color: var(--color-black);
    text-decoration: none;
    display: block;
    background: var(--bg-button);
    margin: 0;
    margin-top: 88px;
    width: 344px;
    height: 46px;
    top: 594px;
    padding: 10px 60px;
    border-radius: 75px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
}
.m-l-80px {
    margin-left: 80px;
}

/* planHomeWidget1_____________________________________________ */
.plan-home-widget-1-container {
    margin-top: 52px;
    width: 517px;

    padding: 40px;
    border-radius: 30px;

    background: #00000066;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    will-change: backdrop-filter;
    box-shadow: 
        0px 0px 10px 0px #00000033,
        0px 0px 10px 0px #FFFFFF40 inset,
        0px 4px 4px 0px #FFFFFF4D inset,
        0px 2px 6px 0px #0000004D;
}
.plan-home-widget-1-title {
    margin: 0;
    font-family: "Sitara-Bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.plan-home-widget-1-text {
    margin: 0;
    margin-top: 10px;
    font-family: "Sitara-Regular", sans-serif;
    color: var(--color-widget-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
}
.plan-home-widget-1-text:not(:last-of-type) {
    margin-bottom: 40px;
}

/* planHomeWidget2_____________________________________________ */
.plan-home-widget-2-container {
    margin-top: 40px;
    width: 1194px;

    display: grid;
    grid-template-rows: repeat(2, 280px);
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.plan-home-widget-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border-radius: 30px;

    background: #00000066;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    will-change: backdrop-filter;
    box-shadow: 
        0px 0px 10px 0px #00000033,
        0px 0px 10px 0px #FFFFFF40 inset,
        0px 4px 4px 0px #FFFFFF4D inset,
        0px 2px 6px 0px #0000004D;
}
.plan-home-widget-2-title {
    margin: 0;
    font-family: "Sitara-Bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.plan-home-widget-2-text {
    margin: 0;
    margin-top: 10px;
    font-family: "Sitara-Regular", sans-serif;
    color: var(--color-widget-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
}

/* priceDemoWidget________________________________________________ */
.price-demo-widget {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 52px;
    width: 100%;

    padding: 40px;
    border-radius: 30px;

    background: #00000066;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    will-change: backdrop-filter;
    box-shadow: 
        0px 0px 10px 0px #00000033,
        0px 0px 10px 0px #FFFFFF40 inset,
        0px 4px 4px 0px #FFFFFF4D inset,
        0px 2px 6px 0px #0000004D;
}
.price-demo-widget h3 {
    font-family: "Sitara-Bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.demo-price-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.price-demo-widget p {
    font-family: "Sitara-Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
}
.demo-price p {
    margin-top: 10px;
    color: var(--color-widget-text);
}
.demo-price-text p {
    padding: 0 0 40px 40px;
    width: 268px;
}
.price-demo-btn-container {
    align-self: flex-end;
    margin-top: auto;
}

/* priceMonthlyWidget________________________________________________ */
.price-monthly-widget {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;

    padding: 40px;
    border-radius: 30px;

    background: #00000066;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    will-change: backdrop-filter;
    box-shadow: 
        0px 0px 10px 0px #00000033,
        0px 0px 10px 0px #FFFFFF40 inset,
        0px 4px 4px 0px #FFFFFF4D inset,
        0px 2px 6px 0px #0000004D;
}
.price-monthly-widget h3 {
    margin: 0;
    font-family: "Sitara-Bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.monthly-price-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.price-monthly-widget p {
    margin: 0;
    font-family: "Sitara-Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
}
.monthly-price p {
    margin-top: 10px;
    color: var(--color-widget-text);
}
.monthly-price-text p {
    padding: 0 0 40px 40px;
    width: 268px;
}
.price-monthly-btn-container {
    align-self: flex-end;
    margin-top: auto;
}

/* storiesLeftWidget____________________________________________ */
.stories-left-container {
    margin-top: 40px;
    width: 577px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 100%;
    gap: 34px 0px;
}
.stories-left-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border-radius: 30px;

    background: #00000066;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    will-change: backdrop-filter;
    box-shadow: 
        0px 0px 10px 0px #00000033,
        0px 0px 10px 0px #FFFFFF40 inset,
        0px 4px 4px 0px #FFFFFF4D inset,
        0px 2px 6px 0px #0000004D;
}
.stories-left-title {
    font-family: Arial;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.stories-left-text {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 10px;
    color: var(--color-widget-text);
}

/* storiesRightWidget________________________________________________ */
.stories-right-container {
    margin-top: -36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stories-right-item {
    width: 577px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border-radius: 30px;
    background: #00000066;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    will-change: backdrop-filter;
    box-shadow: 
        0px 0px 10px 0px #00000033,
        0px 0px 10px 0px #FFFFFF40 inset,
        0px 4px 4px 0px #FFFFFF4D inset,
        0px 2px 6px 0px #0000004D;
}
.strories-right-widget-img {
    display: block;
}
.strories-right-widget-title {
    font-family: Arial;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.strories-right-widget-text {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 10px;
    color: var(--color-widget-text);
}

/* faqCard____________________________________________________________ */
.pricing_card {
    width: 1194px;
    margin: 0 auto;
    border-radius: 50px;
    padding: 40px;
    padding-left: 80px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 1);

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    box-shadow:
      0px 0px 10px 0px #00000033,
      0px 0px 10px 0px #ffffff40 inset,
      0px 4px 4px 0px #ffffff4d inset,
      0px 2px 6px 0px #0000004d;
    will-change: backdrop-filter;
}
.pricing_card_question {
    display: flex;
    flex-direction: column;
    gap: 40px; 
}
.pricing_card_question li {
    font-family: Arial;
    margin: 0;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
}
.pricing_card_question_title{
    margin: 0;
}
.pricing_card_question_text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    color: rgba(169, 169, 169, 1);
    margin-left: -40px;
}

/* header_______________________________________________ */
.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.66);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    box-shadow:
      0px 0px 10px 0px #00000033,
      0px 0px 10px 0px #ffffff40 inset,
      0px 4px 4px 0px #ffffff4d inset,
      0px 2px 6px 0px #0000004d;

    font-weight: 700;
    will-change: backdrop-filter;

    transition: all 0.1s ease;
}
.header-container {
    width: 1194px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

/* buttonHeader_____________________________________ */
.button-header {
    background: var(--bg-button);
    border: none;
    width: 145px;
    height: 40px;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

/* buttonMobileHeader___________________________________ */
.burger {
    width: 26px;
    height: 26px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
    background-color: var(--bg-button);
    width: 35px;
    height: 35px;
    border-radius: 81px;
}
.line-burger {
    width: 15px;
    height: 1.66px;
    background-color: #000000;
    border-radius: 20px;
    transition: 0.4s;
}
.burger::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 1.66px;
    background-color: #000000;
    margin-top: -13px;
    border-radius: 20px;
    transition: 0.4s;
}
.burger::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 1.66px;
    background-color: #000000;
    margin-bottom: -13px;
    border-radius: 20px;
    transition: 0.4s;
}
.burger.visable span {
    transform: scale(0);
}
.burger.visable::before {
    transform: rotateZ(45deg);
    margin-top: 0px;
}
.burger.visable::after {
    transform: rotateZ(-45deg);
    margin-bottom: 0px;
}

/* navHeader_________________________________________________ */
.nav-items {
    display: flex;
    padding-inline-start: 0;
}
.nav-items.visible {
    display: flex; /* Показать меню, если есть класс 'visible' */
}
.nav-item {
    list-style: none;
    border-radius: 54px;
    transition: opacity 0.3s ease;
}
.nav-item:not(:first-child) {
    margin-left: 20px;
}
.nav-link {
    text-decoration: none;
    color: var(--color-text);
    padding: 4px 10px;
    font-size: 16px;
    line-height: 19.2px;
}
.active {
    opacity: 0.7;
}

/* blog_______________________________ */
.blog-cards {
    margin-bottom: 88px;
    margin-top: 100px;
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 100%;
}

/* cardFitness_____________________________________ */
.card-fitness {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 371.33px;
    height: 100%;
    padding: 40px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: "Sitara-Bold", sans-serif;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    will-change: backdrop-filter;
    box-shadow:
      0px 0px 10px 0px #00000033,
      0px 0px 10px 0px #ffffff40 inset,
      0px 4px 4px 0px #ffffff4d inset,
      0px 2px 6px 0px #0000004d;
}
.BlogFitnessImg {
    width: 291.33px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.card-fitness_title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}
.card-fitness_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}
.card-fitness-link {
    text-decoration: none;
    color: var(--color-black);
}

/* cardMornings_____________________________________ */
.card-mornings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 371.33px;
    height: 100%;
    padding: 40px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: "Sitara-Bold", sans-serif;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    will-change: backdrop-filter;
    box-shadow:
      0px 0px 10px 0px #00000033,
      0px 0px 10px 0px #ffffff40 inset,
      0px 4px 4px 0px #ffffff4d inset,
      0px 2px 6px 0px #0000004d;
}
.BlogMorningImg {
    width: 291.33px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.card-mornings_title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}
.card-mornings_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}
.card-mornings-link {
    text-decoration: none;
    color: var(--color-black);
}

/* cardPower___________________________________________ */
.card-power {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 371.33px;
    height: 100%;

    padding: 40px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: "Sitara-Bold", sans-serif;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    will-change: backdrop-filter;
    box-shadow:
      0px 0px 10px 0px #00000033,
      0px 0px 10px 0px #ffffff40 inset,
      0px 4px 4px 0px #ffffff4d inset,
      0px 2px 6px 0px #0000004d;
}
.BlogPowerImg {
    width: 291.33px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.card-power_title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}
.card-power_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}
.card-power-link {
    text-decoration: none;
    color: var(--color-black);
}

/* readMoreBtn______________________________________ */
.read-more-btn-container {
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    background: var(--bg-button);
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;

    width: 291.33px;
    height: 44px;
    padding: 10px 60px 10px 60px;
    border-radius: 75px;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-top: 40px;
}

/* returnToBlog__________________________________________ */
.return-to-blog-link {
    color: var(--color-black);
    text-decoration: none;
    display: block;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    background: var(--bg-button);
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;

    width: 230px;
    height: 48px;
    border-radius: 30px;

    padding: 12px 60px;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-top: 40px;
}

/* footer_____________________________________________________________________________ */
.footer-container {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    height: 100%;
    z-index: 1000;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    background: rgba(0, 0, 0, 0.66);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    box-shadow:
      0px 0px 10px 0px #00000033,
      0px 0px 10px 0px #ffffff40 inset,
      0px 4px 4px 0px #ffffff4d inset,
      0px 2px 6px 0px #0000004d;
    will-change: backdrop-filter;
    padding-bottom: 40px;
}
.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1194px;
    margin: 0 16px;
}
.footer-footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contact-link {
    font-family: "Sitara-Regular", sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-text);
    transition: opacity 0.3s ease;
}
.footer-reserved {
    font-family: "Sitara-Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* agreementsFooter____________________________________________________________________ */
.agreements-footer-title {
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.agreements-footer-items {
    margin-top: 23px;
}
.agreements-footer-item{
    list-style: none;
}
.agreements-footer-item:not(:first-child) {
    margin-top: 10px;
}
.agreements-footer-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-text);
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    transition: opacity 0.3s ease;
}

/* blogFooter_____________________________________________________________________________ */
.blog-footer-title {
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.blog-footer-items {
    margin-top: 23px;

}
.blog-footer-item{
    list-style: none;
}
.blog-footer-item:not(:first-child) {
    margin-top: 10px;
}
.blog-footer-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-text);
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    transition: opacity 0.3s ease;
}

/* footerBlock_____________________________________________________________________________ */
.footer-block {
    margin-top: 48px;
    display: flex;
    margin-right: auto;
    gap: 100px;
}

/* pagesFooter______________________________________________________________________________ */
.pages-container {
    width: 96px;
}
.pages-title {
    margin-left: 16px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.pages-items {
    margin-left: 16px;
    margin-top: 23px;
}
.pages-item {
    list-style: none;
}
.pages-item:not(:first-child) {
    margin-top: 10px;
}
.pages-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-text);
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    transition: opacity 0.3s ease;
}

/* supportFooter______________________________________________________________________________ */
.suport-footer-container {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}
.suport-contact-link {
    color: var(--color-text);
    text-decoration: none;
    margin-left: 16px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    transition: opacity 0.3s ease;
}
.footer-fb-img {
    margin-top: 20px;
    transition: opacity 0.3s ease;
}

/* aboutUs_______________________________________________________ */
.about_us {
    margin-bottom: 217px;
    margin-top: 140px;
    margin-right: 16px;
    margin-left: 16px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.about_us_img {
    width: 378px;
    height: 300px;
}
.about_us_img_mobile {
    display: none;
}
.about_us_btn {
    text-decoration: none;
    width: 268px;
    height: 46px;
    padding: 10px 32.5px;
    border-radius: 75px;
    border: none;
    background-color: var(--bg-button);
    color: var(--color-black);

    font-family: "Sitara-Bold", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    margin: 20px 0;
    display: none;
}

.about_us_card {
    width: 786px;
    border-radius: 50px;
    padding: 40px;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    box-shadow:
      0px 0px 10px 0px #00000033,
      0px 0px 10px 0px #ffffff40 inset,
      0px 4px 4px 0px #ffffff4d inset,
      0px 2px 6px 0px #0000004d;
    will-change: backdrop-filter;
}
.about_us_card_title {
    font-size: 120px;
    line-height: 108px;
    font-weight: 700;
    margin: 0;
    font-style: italic;
    margin-left: -10px;
}
.about_us_card_text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}

/* faq_______________________________________________________________ */
.faq-container {
    margin-top: 100px;
    margin-bottom: 40px;
}

/* quiz__________________________________________________________________ */
.quiz-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* buldingLasting_________________________________________________ */
.bulding-lasting-container {
    margin-bottom: 40px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
  .bulding-lasting-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1194px;
    height: 100%;
    padding: 60px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.4);

    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    will-change: backdrop-filter;
    box-shadow:
      0px 0px 10px 0px #00000033,
      0px 0px 10px 0px #ffffff40 inset,
      0px 4px 4px 0px #ffffff4d inset,
      0px 2px 6px 0px #0000004d;
}
.bulding-lasting-title{
    max-width: 380px;
    font-family: Arial;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 40px;

}
.bulding-lasting-block{
    display: flex;
    gap: 40px;

}
.BuldingLastingImg {
    width: 500px;
    height: 500px;
    border-radius: 30px;
    object-fit: cover;
}
.bulding-lasting-text{
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
}

/* pricing________________________________________________________ */
.pricing-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

/* mindfulMornings____________________________________________________ */
.mindful-mornings-container {
    margin-bottom: 40px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.mindful-mornings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1194px;
    height: 100%;
    padding: 60px;
    border-radius: 50px;
    
    background-color: rgba(0, 0, 0, 0.4);

    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    will-change: backdrop-filter;
    box-shadow:
      0px 0px 10px 0px #00000033,
      0px 0px 10px 0px #ffffff40 inset,
      0px 4px 4px 0px #ffffff4d inset,
      0px 2px 6px 0px #0000004d;
}
.mindful-mornings-title {
    font-family: Arial;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 40px;
}
.mindful-mornings-block {
    display: flex;
    gap: 40px;
}
.MindfulMorningsImg {
    width: 500px;
    height: 500px;
    border-radius: 30px;
    object-fit: cover;
}
.mindful-mornings-text {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
}

/* nutritionEssentials__________________________________________________ */
.nutrition-essentials-container {
    margin-bottom: 40px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.nutrition-essentials {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1194px;
    height: 100%;
    padding: 60px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.4);

    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    will-change: backdrop-filter;
    box-shadow:
      0px 0px 10px 0px #00000033,
      0px 0px 10px 0px #ffffff40 inset,
      0px 4px 4px 0px #ffffff4d inset,
      0px 2px 6px 0px #0000004d;
}
.nutrition-essentials-title{
    font-family: Arial;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 40px;
}
.nutrition-essentials-block{
    display: flex;
    gap: 40px;
}
.NutritionEssentialsImg {
    width: 500px;
    height: 500px;
    border-radius: 30px;
    object-fit: cover;
}
.nutrition-essentials-text{
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
}

/* prepaymentwall____________________________________________________________ */
.prepaymentwall-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* privacyPolicy______________________________________________________________ */
.privacy-policy-container {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 40px;
    width: 1194px;
  }
.privacy-policy-container h2 {
    font-family: "Sitara-Bold", sans-serif;
    font-size: 120px;
    font-style: italic;
    font-weight: 700;
    line-height: 108px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.privacy-policy-text-container {
    margin-top: 40px;
    font-family: "Sitara-Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.privacy-policy-text-container ul {
    list-style-type: disc;
    margin-left: 40px;
}
.privacy-policy-description {
    margin-top: 30px;
}
.privacy-policy-text-container ol {
    margin-top: 30px;
    list-style-type: decimal;
    margin-left: 20px;
}
.privacy-policy-text-container ul,
.privacy-policy-text-container ol ol {
    margin-left: 25px;
}

/* refundPolicy________________________________________________________ */
.refund_policy {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 66px;
    width: 1194px;
}
.refund_policy_title {
    margin-bottom: 40px;
    font-family: "Sitara-Bold", sans-serif;
    font-size: 120px;
    font-style: italic;
    font-weight: 700;
    line-height: 108px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.refund_policy_text ol {
    margin-left: 20px;
}
.refund_policy_text p {
    margin-bottom: 20px;
    font-family: "Sitara-Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* termsOfUse________________________________________________________ */
.terms_of_use {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 66px;
    width: 1194px;
}
.terms_of_use_title {
    margin-bottom: 40px;
    font-family: "Sitara-Bold", sans-serif;
    font-size: 120px;
    font-style: italic;
    font-weight: 700;
    line-height: 108px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.terms_of_use_text ol {
    margin-left: 20px;
}
.terms_of_use_text p {
    margin-bottom: 20px;
    font-family: "Sitara-Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* Отмена ховеров на тач устройствах__________________________________________ */
@media(min-width: 1024px){
    .button-header:hover {
        opacity: 0.7;
    }
	.nav-item:hover {
		opacity: 0.7;
	}
    .read-more-btn-container:hover {
        opacity: 0.7;
    }
    .return-to-blog-link:hover {
        opacity: 0.7;
    }
    .hero-home-btn-link:hover {
        opacity: 0.7;
    }
    .agreements-footer-link:hover {
        opacity: 0.7;
    }
    .blog-footer-link:hover {
        opacity: 0.7;
    }
    .contact-link:hover {
		opacity: 0.7;
	}
    .pages-link:hover {
        opacity: 0.7;
    }
    .contact-link:hover {
        opacity: 0.7;
    }
    .suport-contact-link:hover {
        opacity: 0.7;
    }
    .footer-fb-img:hover {
        opacity: 0.7;
    }
}

/* Адаптация_________________________________________________ */
/* Адаптируем под разрешение от 1400 до 1500px */
@media (max-width: 1500px) {
    .plan-home-text {
        width: 880px;
        top: 140px;
    }
}

/* Адаптируем под разрешение от 1024 до 1400px */
@media (max-width: 1400px) {
    .hero-home-container {
        width: 1000px;
    }
    .hero-home-img {
        width: 650px;
        height: auto
    }
    .m-l-80 {
        margin-left: 20px;
    }
    .plan-home-container {
        width: 1000px;
    }
    .plan-home-text {
        width: 610px;
        top: 220px;
    }
    .plan-home-title {
        font-size: 100px;
    }
    .price-home-container {
        width: 1000px;
    }
    .price-home-title {
        font-size: 96px;
    }
    .price-widget-container {
        width: 500px;
        left: 500px;
    }
    .stories-home-container {
        width: 1000px;
        margin-top: 100px;
    }
    .stories-home-title {
        font-size: 100px;
    }
    .hero-home-btn-link {
        display: block;
        padding: 10px;
    }
    .m-l-80px {
        margin-left: 20px;
    }
    .plan-home-widget-2-container {
        width: 1000px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .stories-right-item {
        width: 457px;
    }
    .pricing_card {
		width: 1000px;
	}
}

/* _______________________________________________________ */
@media (max-width: 1250px) {
    .blog-cards {
        gap: 20px;
    }
    .card-fitness {
        width: 328px;
    }
    .BlogFitnessImg {
        width: 248px;
        height: 240px;
    }
    .BlogPowerImg {
        width: 248px;
        height: 240px;
    }
    .card-fitness_title {
        font-size: 24px;
        line-height: 24px;
    }
    .card-fitness_text {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
    }
    .card-mornings {
        width: 328px;
    }
    .BlogMorningImg {
        width: 248px;
        height: 240px;
    }
    .card-mornings_title {
        font-size: 24px;
        line-height: 24px;
    }
    .card-mornings_text {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
    }
    .card-power {
        width: 328px;
    }
    .BlogMorningImg {
        width: 248px;
        height: 240px;
    }
    .card-power_title {
        font-size: 24px;
        line-height: 24px;
    }
    .card-power_text {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
    }
    .read-more-btn-container {
        width: 248px;
        height: 46px;
        font-family: "Sitara-Bold" sans-serif;
        font-size: 22px;
        line-height: 26.4px;
    }
}

@media (max-width: 1200px) {
    .privacy-policy-container {
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
    }
    .refund_policy {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
    .terms_of_use {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* Адаптируем под разрешение от 768 до 1024px */
@media (max-width: 1024px) {
    body {
        background-image: url('/fitnhub/img/background-mobile.webp');
    }
    .header {
      align-items: flex-start;
      background: #00000066;
    }
    .header.visable {
      height: 451px;
    }
    .header-container {
      width: 100%;
      align-items: flex-start;
    }
    .header-button {
      display: flex;
      gap: 10px;
    }
    .button-header{
        height: 35px;
    }
	.burger {
		display: flex;
	}
	.nav-items {
		flex-direction: column;
		gap: 20px;
		margin-top: 107px;
		justify-content: center;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		align-items: center;
		display: none;
  
	}
	.nav-link{
		  font-size: 22px;
		font-weight: 700;
		line-height: 26.4px;
  
	}
	.nav-item:not(:first-child) {
		margin-left: 0px;
	}
    .blog-cards {
        flex-direction: column;
        align-items: center;
    }
    .return-to-blog-link {
        font-family: "Sitara-Bold" sans-serif;
        width: 248px;
        height: 46px;
        padding: 10px;
        font-size: 22px;
        line-height: 26.4px;
        border-radius: 75px;
    }
    .hero-home-container {
        width: 760px;
    }
    .hero-home-img {
        width: 490px;
    }
    .m-l-80 {
        margin-left: 20px;
    }
    .hero-home-text {
        margin-top: 34px;
        max-width: 300px;
    }
    .plan-home-container {
        width: 760px;
    }
    .plan-home-title {
        margin-top: 40px;
        font-size: 72px;
        line-height: 72px;
    }
    .plan-home-text {
        width: 520px;
        top: 180px;
        left: 240px;
    }
    .price-home-container {
        margin-top: 40px;
        width: 760px;
    }
    .price-home-title {
        font-size: 72px;
    }
    .price-widget-container {
        width: 480px;
        left: 270px;
        top: 130px;
    }
    .stories-home-container {
        width: 760px;
        margin-top: 40px;
    }
    .stories-home-title {
        font-size: 72px;
    }
    .get-home-btn-link:hover {
        opacity: 0.7;
    }
    .hero-home-btn-link {
        width: 260px;
        font-size: 18px;
        margin-top: 60px;
    }
    .plan-home-widget-1-container {
        margin-top: 24px;
        width: 380px;
    }
    .plan-home-widget-2-container {
        width: 760px;
    }
    .stories-left-container {
        width: 360px;
    }
    .stories-right-container {
        margin-top: 200px;
    }
    .stories-right-item {
        width: 360px;
    }
    .strories-right-widget-img {
        width: 400px;
    }
    .pricing_card {
		width: 760px;
	}
    .about_us_img {
        display: none;
    }
    .about_us_card{
        padding: 30px;
        padding-bottom: 0;
    }
    .about_us_img_mobile {
        display: block;
        margin-left: 50%;
        transform: translate(-50%, 5px  );
    }
    .about_us_btn {
        display: block;
        margin-left: 50%;
        transform: translate(-50%);
    }
    .bulding-lasting-wrapper{
        width: 100%;
        margin: 16px;
        padding: 40px;
    }
    .bulding-lasting-block {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .BuldingLastingImg {
        width: 100%;
        height: 100%;
    }
    .bulding-lasting-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mindful-mornings{
        width: 100%;
        margin: 16px;
        padding: 40px;
    }
    .mindful-mornings-block {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .MindfulMorningsImg {
        width: 100%;
        height: 100%;
    }
    .mindful-mornings-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nutrition-essentials{
        width: 100%;
        margin: 16px;
        padding: 40px;
    }
    .nutrition-essentials-block {
        flex-direction: column;
        align-items: center;
        
    }
    .NutritionEssentialsImg {
        width: 100%;
        height: 100%;
    }
    .nutrition-essentials-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Адаптируем под разрешение от 425 до 768px */
@media (max-width: 768px) {
    .home-container {
    padding: 0 16px;
    margin-bottom: 0;
    }
    .hero-home-container {
        margin-top: 80px;
        width: 100%;
        height: 930px;
        display: flex;
        flex-direction: column;
        position: unset;
        align-items: center;
    }
    .hero-home-title {
        text-align: center;
        margin-top: 40px;
        font-size: 80px;
        line-height: 80px;
        max-width: 90%;
    }
    .m-l-80 {
        margin-left: unset;
    }
    .hero-home-text {
        font-family: "Sitara-Regular", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 26.4px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-top: 20px;
        max-width: 90%;
    }
    .hero-home-img {
        width: 100%;
        height: auto;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        margin-top: 14px;
    }
    .plan-home-text {
        position: static;
        width: 420px;
    }
    .plan-home-container {
        width: 100%;
        align-items: center;
    }
    .plan-home-title {
        font-size: 42px;
        text-align: center;
        line-height: 52px;
    }
    .price-home-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .price-widget-container {
        position: static;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .price-home-title {
        font-size: 40px;
        line-height: 36px;
        position: static;
        text-align: center;
    }
    .price-home-img {
        margin-top: 20px;
        width: 400px;
        height: auto;
    }
    .stories-vidget-container {
        flex-direction: column;
    }
    .stories-home-container {
        width: 100%;
    }
    .stories-home-title {
        font-size: 40px;
        font-style: italic;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .get-home-btn-link {
        text-align: center;
        padding: 10px 10px;
        width: 200px;
    }
    .hero-home-btn-link {
        margin-top: 20px;
        width: 70%;
        text-align: center;
    }
    .m-l-80px {
        margin-left: unset;
    }
    .plan-home-widget-1-container {
        width: 100%;
    }
    .plan-home-widget-2-container {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .price-demo-widget {
        margin-top: 20px;
    }
    .demo-price-text p {
        padding: 0 0 10px 20px;
        width: 100%;
    }
    .price-monthly-widget {
        margin-top: 20px;
    }
    .monthly-price-text p {
        padding: 0 0 10px 20px;
        width: 100%;
    }
    .stories-left-container {
        width: 100%;
        margin-top: 20px;
        gap: 20px;
    }
    .stories-right-item {
        width: 100%;
    }
    .stories-right-item {
        order: 1;
    }
    .strories-right-widget-img {
        margin-top: 20px;
        order: 2;
    }
    .stories-right-container {
        margin-top: 20px;
    }
    .pricing_card {
        width: 100%;
    }
    .agreements-footer-title {
        font-family: "Sitara-Bold", sans-serif;
        line-height: 19.2px;
    }
    .agreements-footer-items {
        margin-top: 20px;
    }
    .agreements-footer-item {
        height: 22px;
    }
    .agreements-footer-link {
        font-family: "Sitara-Bold", sans-serif;
        font-size: 18px;
        line-height: 21.6px;
    }
    .blog-footer-title {
        font-family: "Sitara-Bold", sans-serif;
        line-height: 19.2px;
    }
    .blog-footer-items {
        margin-top: 20px;
    }
    .blog-footer-item {
        height: 22px;
    }
    .blog-footer-link {
        font-family: "Sitara-Bold", sans-serif;
        font-size: 18px;
        line-height: 21.6px;
    }
    .footer-footer {
        margin-top: 40px;
  
        font-size: 14px;
        line-height: 16.8px;
    }
    .contact-link {
        font-size: 14px;
        line-height: 16.8px;
    }
    .footer-reserved {
        font-size: 14px;
        line-height: 16.8px;
    }
    .footer-block{
        gap: 40px;
        max-width: 360px;
        margin-right: 0;
        gap: 40px;
        flex-wrap: wrap;
    }
    .pages-title {
        font-family: "Sitara-Bold", sans-serif;
        line-height: 19.2px;
        margin-left: 0;
    }
    .pages-items {
        margin-top: 20px;
        margin-left: 0;
  
    }
    .pages-item {
        height: 22px;
    }
    .pages-link {
        font-family: "Sitara-Bold", sans-serif;
        font-size: 18px;
        line-height: 21.6px;
    }
    .suport-contact-link {
        margin-left: 12px;
        font-family: "Sitara-Bold", sans-serif;
        line-height: 19.2px;
        align-items: flex-start;
    }
    .about_us_card_title {
        font-size: 40px;
        line-height: 36px;
    }
    .about_us_card_text {
        font-size: 14px;
        line-height: 16.8px;
    }
    .about_us_img_mobile{
        width: auto;
        height: 261px;
    }
    .about_us{
        margin: 20px 16px;
        margin-top: 80px;
    }
    .quiz-container {
        padding: 0 16px;
        margin-bottom: 0;
    }
    .prepaymentwall-container {
        padding: 0 16px;
    }
    .privacy-policy-container h2 {
        font-size: 40px;
        line-height: 36px;
    }
    .privacy-policy-text-container {
        font-size: 14px;
        line-height: 16.8px;
    }
    .refund_policy_title {
        font-size: 40px;
        line-height: 36px;
    }
    .refund_policy_text p  {
        font-size: 14px;
        line-height: 16.8px;
    }
    .terms_of_use_title {
        font-size: 40px;
        line-height: 36px;
    }
    .terms_of_use_text p  {
        font-size: 14px;
        line-height: 16.8px;
    }
}

/* Адаптируем под разрешение до 425px */
@media (max-width: 425px) {
    .hero-home-container {
        height: 581px;
        margin-bottom: 20px;
    }
    .hero-home-title {
        margin-top: 40px;
        font-size: 40px;
        line-height: 36px;
    }
    .hero-home-text {
        font-size: 14px;
        line-height: 16.8px;
    }
    .plan-home-title {
        margin-top: 20px;
        font-family: "Sitara-Bold", sans-serif;
        font-size: 40px;
        font-style: italic;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .plan-home-text {
        width: 329px;
        height: 452px;
    }
    .price-widget-container {
        width: 328px;
    }
    .price-home-img {
        width: 314px;
        height: 316px;
    }
    .stories-home-container {
        width: 328px;
    }
    .get-home-btn-link {
        margin-top: 20px;
        width: 248px;
    }
    .hero-home-btn-link {
        width: 268px;
    }
    .plan-home-widget-1-container {
        width: 328px;
    }
    .plan-home-widget-1-title {
        font-family: "Sitara-Bold", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .plan-home-widget-1-text {
        font-family: "Sitara-Regular", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .plan-home-widget-2-container {
        width: 328px;
    }
    .demo-price-container {
        display: flex;
        flex-direction: column;
    }
    .price-demo-widget h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .demo-price-text p {
        padding: 0;
        width: 248px;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .demo-price p {
        width: 156px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .monthly-price-container {
        display: flex;
        flex-direction: column;
    }
    .price-monthly-widget h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .monthly-price-text p {
        padding: 0;
        width: 248px;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .monthly-price p {
        width: 156px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .stories-left-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .stories-left-text {
        font-family: "Sitara-Regular", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .strories-right-widget-img {
        width: 328px;
    }
    .pricing_card {
        width: 328px;
    }
    .pricing_card_question_title {
        font-family: "Sitara-Bold", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .pricing_card_question_text {
        font-family: "Sitara-Regular", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .about_us_card {
        width: 100%;
    } 
}