---
import Layout from "../Layouts/Layout.astro";
import CardFitness from "../components/Main/Blog/CardFitness.astro";
import CardPower from "../components/Main/Blog/CardPower.astro";
import CardMornings from "../components/Main/Blog/CardMornings.astro";
import "../../public/style/style.css"
---

<Layout>
	<div class="blog-cards">
		<CardMornings />
		<CardFitness />
		<CardPower />
	</div>
</Layout>