---
import Layout from "../Layouts/Layout.astro";
import HeroHome from "../components/Main/Home/HeroHome.astro"
import StoriesHome from "../components/Main/Home/StoriesHome.astro"
import PriceHome from "../components/Main/Home/PriceHome.astro"
import "../../public/style/style.css"
---

<Layout>
    <div class="prepaymentwall-container">
        <HeroHome/>
        <StoriesHome/>
        <PriceHome/>
    </div>
</Layout>