---
import Layout from "../Layouts/Layout.astro"
import WidgetQuiz from "../components/Quiz/WidgetQuiz.jsx"
import "../../public/style/style.css"
---

<Layout>
    <div class="quiz-container">
        <WidgetQuiz client:visible/>
    </div>
</Layout>