---
import CardMorningConfig from "../../../config/main-config.json"
import "../../../../public/style/style.css"
---

<div class="read-more-btn-container">{CardMorningConfig.cardMornings[0].textButton}</div>