---
import MindfulMorningsConfig from "../../../config/main-config.json"
import "../../../../public/style/style.css"
---

<a class="return-to-blog-link" href={MindfulMorningsConfig.mindfulMornings[0].path}>{MindfulMorningsConfig.mindfulMornings[0].textButton}</a>