---
import PagesFooter from "./PagesFooter.astro"
import BlogFooter from "./BlogFooter.astro"
import AgreementsFooter from "./AgreementsFooter.astro"
import SupportFooter from "./SupportFooter.astro"
import "../../../public/style/style.css"
---

<div class="footer-block">
    <PagesFooter/>
    <BlogFooter/>
    <AgreementsFooter/>
    <SupportFooter/>
</div>